---
import BaseLayout from "@/layouts/BaseLayout";
import BlogPreview from "@/components/BlogPreview";
import Pagination from "@/components/Pagination";
import { getAllSortedPosts } from "@/utils";

export async function getStaticPaths({ paginate }) {
	const sortedPosts = await getAllSortedPosts();

	return paginate(sortedPosts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Blog">
  <h1 class="text-4xl font-bold my-8 text-secondary-100">Blog Posts</h1>
  <section class="grid gap-10">
    {page.data.map((post) => <BlogPreview post={post} />)}
  </section>
  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/blog/"
  />
</BaseLayout>