---
import BaseLayout from "@/layouts/BaseLayout";
import BlogPreview from "@/components/BlogPreview";
import {
	getAllPost,
	getAllTags,
	getPostsByTag,
	sortPostsByDate,
} from "@/utils";

export async function getStaticPaths() {
	const posts = await getAllPost();
	const tags = getAllTags(posts);

	return tags.map((tag) => {
		const filteredPosts = getPostsByTag(posts, tag);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const sortedPosts = sortPostsByDate(posts);
---

<BaseLayout title={`Posts tagged with #${tag}`} description={`Explore my blog posts tagged with ${tag}.`}>
  <h1 class="text-4xl font-bold my-8 text-secondary-300">Posts tagged with #{tag}</h1>
  <section class="grid gap-10">
    {sortedPosts.map((post) => <BlogPreview post={post} />)}
  </section>
</BaseLayout>
