---
import BaseLayout from "@/layouts/BaseLayout";
---

<BaseLayout title="You found a missing page!">
  <section class="grid gap-6 py-10">
    <h1 class="text-secondary-300 text-2xl">404 | Something went wrong.</h1>
    <p class="text-xl tracking-wide leading-6">It appears you're accessing the post page using an outdated URL. The correct URL for blog posts is now 'blog'. Please update the address bar by replacing 'post' with 'blog'.</p>
    <p class="text-xl tracking-wide leading-6">Otherwise, please use the navigation to find your way back!</p>
  </section>
  </BaseLayout>