---
import BaseLayout from "@/layouts/BaseLayout";
---

<BaseLayout title="You found a missing page!">
	<section class="grid gap-6 py-10">
		<h1 class="text-2xl text-secondary-300">404 | Something went wrong.</h1>
		<p class="text-xl leading-6 tracking-wide">
			It appears you're accessing the post page using an outdated URL. The correct URL for blog
			posts is now 'blog'. Please update the address bar by replacing 'post' with 'blog'.
		</p>
		<p class="text-xl leading-6 tracking-wide">
			Otherwise, please use the navigation to find your way back!
		</p>
	</section>
</BaseLayout>
