---
import BaseLayout from "@/layouts/BaseLayout";
import Skills from "@/components/Skills";
import Projects from "@/components/projects";
import { siteConfig } from "@/config";

const { title, description } = siteConfig;
---

<BaseLayout title={title} description={description}>
	<section class="py-6">
		<h2 class="text-secondary-300 my-6 text-2xl">Skills</h2>
		<Skills />
	</section>
	<section class="py-6">
		<h2 class="text-secondary-300 my-6 text-2xl">Projects</h2>
		<Projects />
	</section>
</BaseLayout>
