---
import BaseLayout from "@/layouts/BaseLayout";
import Skills from "@/components/Skills";
import { siteConfig } from "@/config";

const { title } = siteConfig
---

<BaseLayout title={title}>
	<section>
		<h2 class="my-6 text-2xl text-secondary-300">Skills</h2>
		<Skills />
	</section>
</BaseLayout>
