---
import BaseLayout from '../layouts/BaseLayout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import { siteConfig } from '../config'
---

<BaseLayout title={siteConfig.title}>
<h3>to  be add</h3>
</BaseLayout>
