---
import BaseLayout from "../layouts/BaseLayout.astro";
import Skills from "../components/Skills.astro";
import { siteConfig } from "../config";
---

<BaseLayout title={siteConfig.title}>
  <section>
    <h2 class="text-secondary-300 my-6 text-2xl">Skills</h2>
    <Skills />
  </section>
</BaseLayout>
