---
import { siteConfig } from "@/config";
import { navHeader } from "@/utils";
import SocialLinks from "./SocialLinks.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const { title: siteTitle, slogan, description } = siteConfig;
---

<header class="py-6">
	<nav class="py-6">
		<ul class="flex flex-wrap items-center justify-center gap-4 md:gap-6 lg:gap-8">
			{
				navHeader.map(({ href, text }) => (
					<li>
						<a
							href={href}
							class="hover:bg-secondary-900 rounded-lg p-2 text-lg duration-300 ease-in-out"
						>
							{text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	{
		title === siteTitle && (
			<div class="grid gap-6 py-4">
				<h1 class="text-secondary-400 text-3xl font-extrabold tracking-wide">Victoria Cheng</h1>
				<h2 class="text-secondary-300 text-xl">Software Development Student at SAIT</h2>
				<h3 class="text-secondary-200 text-xl">{slogan}</h3>
				<p class="text-primary-100 text-lg leading-8">{description}</p>
				<SocialLinks />
			</div>
		)
	}
</header>
