---
interface Props {
	currentPage: number;
	totalPages: number;
	baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;
---

<nav aria-label="pagination navigation" class="flex justify-center gap-20">
	{
		currentPage > 1 && (
			<a
				href={`${baseUrl}${currentPage - 1 !== 1 ? currentPage - 1 : ""}`}
				class="bg-secondary-200 text-primary-950 my-8 rounded-md px-4 py-2"
			>
				Previous
			</a>
		)
	}
	{
		currentPage < totalPages && (
			<a
				href={`${baseUrl}${currentPage + 1}`}
				class="bg-secondary-200 text-primary-950 my-8 rounded-md px-4 py-2"
			>
				Next
			</a>
		)
	}
</nav>
