---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-2">
	{
		tags.map((tag) => (
			<a
				href={`/tags/${tag}`}
				class="rounded-full bg-secondary-950 px-3 py-1 text-sm duration-300 ease-in-out hover:bg-secondary-900"
			>
				#{tag}
			</a>
		))
	}
</div>
