---
import { PROJECTS } from "@/utils";
---

<section class="grid gap-10">
	{
		PROJECTS.map(({ title, description, link, techs }) => (
			<section class="grid gap-6 rounded-md border border-secondary-500 p-6">
				<h2 class="text-xl font-bold">
					<a
						href={link}
						class="text-secondary-200 hover:text-secondary-300 duration-300 ease-in-out"
						target="_blank"
						rel="noopener noreferrer"
					>
						{title}
					</a>
				</h2>
				<p class="tracking-wide">{description}</p>
				<ul class="flex flex-wrap gap-4">
					{techs.map((tech) => (
						<li class="rounded-full bg-secondary-950 px-3 py-1 text-sm">{tech}</li>
					))}
				</ul>
			</section>
		))
	}
</section>
