---
import { Image } from "astro:assets";
import { formatSkillNames } from "@/utils";
---

<ul class="flex flex-wrap items-center justify-between gap-8">
	{
		formatSkillNames.map((skill) => (
			<li class="rounded-lg bg-primary-50 p-2 text-primary-50">
				<Image width="60" height="60" class="rounded-lg" src={`/skills/${skill}.svg`} alt={skill} />
				<span class="sr-only">{skill}</span>
			</li>
		))
	}
</ul>
